.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#container {
    width: 375px;
    height: 700px;
    border-radius: 20px;
    background-color: #15273F;
    padding: 30px;
}

body {
    font-family: "Outfit", sans-serif;

}

#title {
    font-weight: 600;
    font-size: 25px;
}

#price {
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-size: 20
}

#space {
    display: flex;
    justify-content: space-between;
}